services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.18.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    restart: unless-stopped


  web:
    image: cnstark/pytorch:2.3.0-py3.10.15-cuda12.1.0-ubuntu22.04
    container_name: web
    stdin_open: true
    tty: true
    working_dir: /workspace/backend
    environment:
      # Using Zilliz Cloud - set in .env file
      - ZILLIZ_CLOUD_URI=${ZILLIZ_CLOUD_URI}
      - ZILLIZ_CLOUD_TOKEN=${ZILLIZ_CLOUD_TOKEN}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - .:/workspace
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    depends_on:
      - elasticsearch



  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    ports:
      - "8111:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/data/keyframe:/app/data/keyframe:ro
      - ./backend/data/metadata:/app/data/metadata:ro
      - ./backend/data/URL:/app/data/URL:ro
      - ./frontend:/app/frontend:ro
      - ./backend/data/video:/app/data/video:ro
    tmpfs:
      - /dev/shm:size=120g,mode=1777
    shm_size: 120g
    restart: unless-stopped
    depends_on:
      - web
