services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.18.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    restart: unless-stopped

  etcd:
    image: quay.io/coreos/etcd:v3.5.9
    container_name: etcd
    environment:
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd:2380
      - ETCD_INITIAL_CLUSTER=etcd=http://etcd:2380
      - ETCD_NAME=etcd
    ports:
      - "2379:2379"
    volumes:
      - ./volumes/etcd:/etcd
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./volumes/minio:/data
    restart: unless-stopped

  milvus:
    image: milvusdb/milvus:v2.4.14
    container_name: milvus
    command: ["milvus", "run", "standalone"]
    environment:
      - ETCD_ENDPOINTS=etcd:2379
      - MINIO_ADDRESS=minio
      - MINIO_PORT=9000
      - MINIO_ACCESS_KEY_ID=minioadmin
      - MINIO_SECRET_ACCESS_KEY=minioadmin123
      - MINIO_USE_SSL=false
      - MINIO_BUCKET_NAME=milvus-bucket
      - MINIO_ROOT_PATH=files
    ports:
      - "19530:19530"
      - "9091:9091"  # Metrics port
    volumes:
      - ./volumes/milvus:/var/lib/milvus
    restart: unless-stopped

  web:
    image: cnstark/pytorch:2.3.0-py3.10.15-cuda12.1.0-ubuntu22.04
    container_name: web
    stdin_open: true
    tty: true
    working_dir: /workspace
    environment:
      - MILVUS_URI=http://milvus:19530
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - .:/workspace
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped

  chat:
    image: node:20-alpine
    container_name: chat
    working_dir: /workspace/realtime
    command: sh -c "npm install && node server.js"
    environment:
      - PORT=3001
    volumes:
      - .:/workspace
    ports:
      - "3001:3001"
    restart: unless-stopped

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./data/keyframe:/app/data/keyframe:ro
      - ./template:/app/template:ro
      - ./data/video:/app/data/video:ro
    tmpfs:
      - /dev/shm:size=120g,mode=1777
    shm_size: 120g
    restart: unless-stopped
